/* Header Part */

.header {
  color: darkblue;
  font-size: 20px;
  border-bottom: 0.5px solid lightgray;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo-and-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 18%;
  margin-left: 3%;
}

.logo {
  height: 45px;
  width: 45px;
}

.navbar {
  box-sizing: border-box;
  list-style: none;
  font-size: 18px;
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navbar-element {
  color: #2f363f;
  padding: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Body Part */

.loading-message {
  display: flex;
  justify-content: center;
  margin: 18% 0 0 0;
  color: blue;
  font-size: 60px;
}

.learning-importance-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4% 0 0 0;
}

.learning-importance-heading,
.our-courses-heading {
  font-weight: 300;
  font-size: 3ch;
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 6px;
  margin: 0%;
}

.learning-importance-para {
  color: #2f363f;
  font-weight: 300;
  width: 70%;
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 6px;
  padding: 1% 0 1% 0;
}

.our-courses-heading {
  padding: 1% 0 0 0;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 2.5% 0 0 0;
}

.course-collection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.course-image {
  height: 200px;
  width: 300px;
}

.login-form-and-study-image {
  display: flex;  
  align-items: center;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page-lms-logo {
  height: 100px;
  width: 100px;
}

.login-page-study-image, .admin-login-page-study-image {
  height: 600px;
  width: 700px;
}

.signup {
  display: flex;
  align-items: center;
  padding: 8%;
  background: url("https://images.unsplash.com/photo-1596633608169-2ee5f4ed60e3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cGVuY2lsfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4% 12% 4% 12%; 
  border-radius: 8%;
  background-color: rgb(250, 247, 247);
}

.login-invalid-credential-message {
  color: red;
  font-weight: 600;
  font-size: 25px;
}

.user-and-admin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-all-operation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  margin-top: 7%;
}

.user-operation-filed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  padding: 1.5%;
  margin: 1.5%;
  border-bottom: solid 1px rgb(214, 213, 213);
}

.user-title {
  font-size: 35px;
}

.display-user-table {
  width: 70%;
}

.display-all-courses {
  margin: 5% 10% 3% 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.display-all-courses-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error-field {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0%;
}

.error-image {
  /* margin-top: 8%; */
  height: 400px;
  width: 400px;
}

.profile-form-label {
  color: rgb(74, 80, 243);
}

